<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Image Prediction and Feedback</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
<body>

 <div id="loginModal" class="modal">
     <div class="modal-content">
         <span class="close-button">&times;</span>
         <h2>Login to Your Account</h2>
         <form id="loginForm">
             <label for="loginUsername">Username:</label>
             <input type="text" id="loginUsername" name="username" required>
             <label for="loginPassword">Password:</label>
             <input type="password" id="loginPassword" name="password" required>
             <input type="submit" value="Login">
             <!-- Additional link or button to switch to the registration modal -->
             <button id="registerButton" type="button">Register</button>
         </form>
     </div>
 </div>

 <div id="registerModal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Register New Account</h2>
        <form id="registerForm">
            <label for="registerUsername">Username:</label>
            <input type="text" id="registerUsername" class="action-button" name="username" required>
            <label for="registerEmail">Email:</label>
            <input type="email" id="registerEmail" class="action-button" name="email" required>
            <label for="registerPassword">Password:</label>
            <input type="password" id="registerPassword" class="action-button" name="password" required>
            <input type="submit" value="Register">
        </form>
    </div>
</div>
<div id="changePasswordModal" class="modal">
    <div class="modal-content">
        <span class="close-button">&times;</span>
        <h2>Change Password</h2>
        <form id="changePasswordForm">
            <label for="changePasswordUsername">Username:</label>
            <input type="text" id="changePasswordUsername" class="action-button" name="username" required>
            <label for="changePasswordOld">Old Password:</label>
            <input type="password" id="changePasswordOld" class="action-button" name="old_password" required>
            <label for="changePasswordNew">New Password:</label>
            <input type="password" id="changePasswordNew" class="action-button" name="new_password" required>
            <input type="submit" value="Change Password">
        </form>
    </div>
</div>   
<div class="top-right-login">
    <button id="loginButton" class="action-button">Sign In</button>
    <span id="userDetails" style="display: none;">
        You are logged in as: <span id="usernameDisplay"></span>
        <button id="changePasswordButton" class="action-button">Change Password</button>
    </span>
</div>   
<div class="container">
    <div class="conta">
        <div class="bl-main" id="bl-main">

            <section id="my-wardrobe-section">
                <div class="bl-box">
                    <h2>My Wardrobe</h2>
                </div>
                <div class="bl-content">
                    <h2>View and Manage Your Wardrobe</h2>
                    <!-- Placeholder for My Wardrobe images -->
                    <div id="wardrobeImages" class="image-gallery">
                        <!-- Images will be added here dynamically -->
                    </div>
                </div>
                <span class="bl-icon bl-icon-close">Close</span>
            </section>

            <section>
                <header class="bl-box">
                    <h2>New Clothes</h2>
                </header>
                <div class="bl-content">
                    <form id="msform" action="/predict" method="post" enctype="multipart/form-data">
                            <ul id="progressbar">
                                <li class="active">Upload Image</li>
                                <li>Prediction Results</li>
                                <li>Feedback</li>
                            </ul>

                            <fieldset>
                                <h2 class="fs-title">Add New Items</h2>
                                <h3 class="fs-subtitle">Upload your image for prediction</h3>
                                <input type="file" name="file" required>
                                <button type="submit" name="next" class="action-button">Upload Image</button>
                            </fieldset>

                            <fieldset>
                                <h2 class="fs-title">Prediction Results</h2>
                                <div class="prediction-section">
                                    <img id="uploadedImage" src="" alt="Uploaded Image" style="max-width: 200px; display: inline-block;">
                                    <h3 class="fs-subtitle">What do we think it is?</h3>
                                    <div id="predictedCategories"></div>
                                </div>
                                <input type="button" name="previous" class="previous action-button" value="Previous" />
                                <input type="button" name="next" class="next action-button" value="Next" />
                            </fieldset>

                            <fieldset>
                                <h2 class="fs-title">Provide Your Feedback</h2>
                                <h3 class="fs-subtitle">Confirm the prediction and color</h3>
                                <div id="feedbackSection">
                                    <input type="hidden" id="predictionID" name="predictionID">
                                    <!-- Prediction categories will be loaded here as radio buttons -->
                                    <label for="colorConfirmationCheckbox">Is this the correct color?</label>
                                    <input type="checkbox" id="colorConfirmationCheckbox">
                                    <input type="hidden" id="colorCode" name="colorCode">
                                    <br>
                                    <div id="colorDisplay" style="width: 50px; height: 50px; border: 1px solid #000; margin-bottom: 10px;"></div>
                                    <div id="predictedCategories"></div>
                                    <div id="feedbackinput">
                                        <label for="userFeedback">Your Feedback:</label>
                                        <textarea id="userFeedback" name="userFeedback"></textarea>
                                    </div>
                                </div>
                                <input type="button" name="previous" class="previous action-button" value="Previous" />
                                <input type="submit" name="submit" class="submit action-button" value="Submit Feedback" />
                            </fieldset>
                    </form>
                </div>
                <span class="bl-icon bl-icon-close" aria-label="Close New Clothes Section"></span>
            </section>

            <section>
                <div class="bl-box">
                    <h2>Find a Look</h2>
                </div>
                <div class="bl-content">
                    <form id="findLookForm">
                        <fieldset>
                            <h2 class="fs-title">Event Details</h2>
                            <h3 class="fs-subtitle">Tell us more about the event</h3>
                            
                            <label for="eventTime">Time of Day:</label>
                            <select id="eventTime" name="eventTime">
                                <option value="Day">Day</option>
                                <option value="Night">Night</option>
                            </select>
            
                            <label for="eventType">Type of Event:</label>
                            <select id="eventType" name="eventType">
                                <option value="Formal">Formal</option>
                                <option value="Social">Social</option>
                            </select>
            
                            <label for="weather">Weather:</label>
                            <select id="weather" name="weather">
                                <option value="Rain">Rain</option>
                                <option value="Sunny">Sunny</option>
                            </select>
                            <button id="findLookButton" class="action-button" type="button">Find a Look</button>
                            <div id="lookDisplay" style="display: none;">
                                <div class="image-container">
                                    <img id="upperImage" src="" alt="Upper Wear">
                                </div>
                                <div class="image-container">
                                    <img id="lowerImage" src="" alt="Lower Wear">
                                </div>
                                <div class="image-container">
                                    <img id="footwearImage" src="" alt="Footwear">
                                </div>
                            </div>                            
                        </fieldset>
                    </form>
                </div>
                <span class="bl-icon bl-icon-close">Close</span>
            </section>

            <section>
                <div class="bl-box">
                    <h2>Past Events</h2>
                </div>
                <div class="bl-content">
                    <h2>Review Past Outfits</h2>
                    <!-- Past Events content here -->
                </div>
                <span class="bl-icon bl-icon-close">Close</span>
            </section>

            <section>
                <div class="bl-box">
                    <h2>About Us</h2>
                </div>
                <div class="bl-content">
                    <h2>Learn about us</h2>
                    <!-- Past Events content here -->
                </div>
                <span class="bl-icon bl-icon-close">Close</span>
            </section>

        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/boxlayout.js') }}"></script>
<script>
    $(function() {
        Boxlayout.init();
    });
</script>

</body>
</html>