@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #f2ede3;
    background: #333;
    font-size: 0.9em;
    font-weight: 300;
}

a {
	color: #f0f0f0;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 80%;
}

a:hover {
	color: #fff;
}

.conta { /* Assuming .conta is the direct parent */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
}

.container {
  display: none;
  height: 100%; 
  width: 100%;
}

.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bl-main > section {
	position: absolute;
	width: 20%;
	height: 100%;
}

.bl-main > section:first-child {
	top: 0;
	left: 0;
	background: #DBB1BC;
}

.bl-main > section:nth-child(2) {
	top: 0;
	left: 20%;
	background: #D3C4E3;
}

.bl-main > section:nth-child(3) {
	top: 0;
	left: 40%;
	background: #8F95D3;
}

.bl-main > section:nth-child(4) {
	top: 0%;
	left: 60%;
	background: #89DAFF;
}

.bl-main > section:nth-child(5) {
	top: 0%;
	left: 80%;
	background: #58504A;
}

.bl-main > section:nth-child(6) {
	top: 0%;
	left: 100%;
	background: #10A296;
}

.bl-main > section:nth-child(7) {
	top: 0%;
	left: 120%;
	background: #10A296;
}


.bl-box {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	/* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

.bl-box h2 {
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}

.bl-icon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.bl-icon:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}

.bl-icon-about:before {
	content: "\e000";
}

.bl-icon-works:before {
	content: "\e001";
}

.bl-icon-blog:before {
	content: "\e002";
}

.bl-icon-contact:before {
	content: "\e003";
}

.bl-main > section .bl-icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.bl-icon-close:before {
	content: "\e005";
}

.bl-content, 
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
    align-items: center;
    justify-content: center;
    text-align: center;  
    display: block;
}

/* Custom content */

.bl-content p {
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 1.7em;
	line-height: 1.8;
}

.bl-content h2 {
	font-size: 3em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

.bl-content article {
	padding: 20px 40px 20px 0px;
}

.bl-content article h3 {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding-top: 20px;
	font-size: 1.4em;
}

.bl-content article a {
	color: rgba(0,0,0,0.2);
}

.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
} 

.bl-content > ul li {
	display: inline-block;
	width: 20%;
	margin: 1%;
}

.bl-content > ul li a {
	display: block;
	padding: 0;
	border: 8px solid rgba(0,0,0,0.1);
}

.bl-content > ul li a img {
	display: block;
	max-width: 100%;
}

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div {
	width: 60%;
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	top: 90px;
	pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
	font-size: 1.3em;
}

div.bl-panel-items > div > div img {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 100%;
}

div.bl-panel-items {
	top: 100%;
	z-index: 9999;
}

div.bl-panel-items > div {
	background: #3ba5db;
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

div.bl-panel-items nav {
	position: absolute;
	z-index: 9999;
	width: 216px;
	left: 50%;
	top: 0px;
	margin-left: -108px;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
	float: left;
	margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
	font-weight: 700;
	letter-spacing: 2px;
	display: block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -70px;
}

div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main > section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:first-child.bl-expand {
	background: #DBB1BC;
}
.bl-main > section:nth-child(2).bl-expand {
	background: #D3C4E3;
}
.bl-main > section:nth-child(3).bl-expand {
	background: #8F95D3;
}
.bl-main > section:nth-child(4).bl-expand {
	background: #89DAFF;
}
.bl-main > section:nth-child(5).bl-expand {
	background: #58504A;
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

.bl-box {
	-webkit-transition: opacity 0.2s linear 0.5s;
	-moz-transition: opacity 0.2s linear 0.5s;
	transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.bl-box h2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    cursor: pointer;
    width: 200px; /* Set your desired width */
    margin: 10px;
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box-shadow for a 'lifted card' effect */
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.content-section {
    display: none; /* Hide all content sections initially */
    margin-top: 20px; /* Space from the cards */
    /* Any additional styling for your content sections */
}

.bl-content,
.bl-icon-close {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}

.update-section{
    align-items: center;
    justify-content: center;
    text-align: center;  
    display: flex; 
}


@media screen and (max-width: 46.5em) {
	.bl-content,
	.bl-box {
		font-size: 75%;
	}

	.bl-expand .bl-box {
		height: 130px;
	}

	.bl-content > ul li {
		width: 40%;
	}
    .button-test {
        font-size: 15px;
        padding: 10px 20px;
      }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.container-newcloths {
    width: 90%; /* Takes 90% of its parent width */
    max-width: 600px; /* Maximum width */
    margin: auto; /* This will help in centering */
    border: 1px solid #ccc; /* Example border */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Example shadow */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Inner spacing */
    margin: 20px; /* Spacing from other elements */
    background: #fff; /* Assuming you want a white background */
}

.button-test {
    background-color: initial;
    background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
    border-radius: 42px;
    border-width: 0;
    box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Quicksand,sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .04em;
    line-height: 16px;
    margin: 5px;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation; 
  }

.button-test:hover {
    background-image: linear-gradient(#B384C9, #391F5B 50%);
    }

fieldset {
    background-color: rgba(111, 66, 193, 0.3);
    border-radius: 4px;
    display: none;
}

.prediction-section {
    min-height: 200px; /* Adjust based on typical content size */
    transition: min-height 0.3s ease; /* Smooth transition for height change */
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0;
    transition: height 0.5s ease-out;
}

.container-newcloths {
    display: flex; /* Use flexbox for centering the content */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    margin: auto; /* Center the container itself */
    max-width: 600px; /* Set a max-width for the container */
    padding: 20px; /* Add some padding inside the container */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    background: #fff; /* Assuming a light background */
    /* Optional: add a transition effect for the shadow */
    transition: box-shadow 0.3s ease-in-out;
}

.container-newcloths:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Larger shadow on hover */
}

/* Modal Content */
.modal-content {
    background-color: #58504A;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #D3C4E3;
    width: 80%; /* Could be more or less, depending on screen size */
	justify-content: center; /* Center children vertically */
	display: flex; /* Use flexbox layout */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
}

#loginModal {
    display: none; /* Hide modal by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    
    /* Centering the modal box */
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-box {
    background: white;
    border-radius: 5px;
	position: relative;
    max-width: 600px; /* Maximum width but can be less */
    width: auto; /* Adjust width to fit the content */
    margin: 10px; /* Margin for aesthetics */
}

.close-button {
    color: #aaa;
    position: absolute; /* Absolute position relative to the .modal-content */
    top: 10px; /* Adjust the value as needed for spacing from the top */
    right: 10px; /* Adjust the value as needed for spacing from the right */
    font-size: 28px;
    font-weight: bold;
    cursor: pointer; /* Change cursor to indicate this is a clickable element */
}

#loginButton {
    display: block; /* Center the button */
    width: 200px; /* Set the width of the button */
    margin: 50px auto 20px; /* Large top margin, auto centers horizontally */
    padding: 15px 30px; /* Padding for aesthetics */
    font-size: 20px; /* Font size for visibility */
    background-color: #aaa; /* A nice green shade; change as needed */
    color: white; /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change mouse icon to indicate it's clickable */
    transition: all 0.3s ease; /* Smooth transition for mouse events */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

#loginButton:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
    transform: translateY(-2px); /* Slightly raise the button */
}

#loginButton:active {
    transform: translateY(1px); /* Depress the button on click */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow for pressed effect */
}

#changePasswordButton {
  display: block; /* Center the button */
  width: 200px; /* Set the width of the button */
  margin: 50px auto 20px; /* Large top margin, auto centers horizontally */
  padding: 15px 30px; /* Padding for aesthetics */
  font-size: 20px; /* Font size for visibility */
  background-color: #aaa; /* A nice green shade; change as needed */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change mouse icon to indicate it's clickable */
  transition: all 0.3s ease; /* Smooth transition for mouse events */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

#changePasswordButton:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
  transform: translateY(-2px); /* Slightly raise the button */
}

#changePasswordButton:active {
  transform: translateY(1px); /* Depress the button on click */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Smaller shadow for pressed effect */
}

#userDetails {
  display: block; /* Center the button */
  width: 400px; /* Set the width of the button */
  margin: 50px auto 20px; /* Large top margin, auto centers horizontally */
  padding: 15px 30px; /* Padding for aesthetics */
  font-size: 20px; /* Font size for visibility */
  color: white; /* Text color */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change mouse icon to indicate it's clickable */
  transition: all 0.3s ease; /* Smooth transition for mouse events */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  text-align: center;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*basic reset*/
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
  width: 500px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

#msform fieldset.active {
    display: block;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 110px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 10px;
}
#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}

#findLookForm {
  width: 500px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
#findLookForm fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

#findLookForm fieldset.active {
    display: block;
}

/*Hide all except first fieldset*/
#findLookForm fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#findLookForm input,
#findLookForm textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 13px;
}
/*buttons*/
#findLookForm .action-button {
  width: 110px;
  background: #27ae60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 10px;
}
#findLookForm .action-button:hover,
#findLookForm .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

#predictedCategories input[type="radio"] {
    width: 16px; /* Example size, adjust as needed */
    height: 16px; /* Example size, adjust as needed */
    vertical-align: middle;
    margin-right: 5px;
}

#predictedCategories label {
    display: inline; /* Keeps the label on the same line as the radio button */
    vertical-align: middle; /* Centers the label vertically relative to the radio button */
    margin-right: 10px; /* Adds some space after the label, adjust as necessary */
    color: #666; /* Your desired text color for the labels */
}

#feedbackSection {
    text-align: center; /* This will center the contents */
}

#feedbackSection label {
    color: #666; /* Change #desiredColor to whatever color you like */
    display: inline-block; /* This makes the label take the full width and respects text-align */
}

#colorDisplay {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    display: inline-block; /* This allows the block to be centered by text-align */
    margin-bottom: 10px;
}

#my-wardrobe-section .bl-content {
  text-align: center;
}

#wardrobe-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.wardrobe-item {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.wardrobe-image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  transition: transform 0.2s ease;
}

.wardrobe-item:hover .wardrobe-image {
  transform: scale(1.1);
}

.image-container {
  display: inline-block;
  align-items: center;
  margin: 10px;
}

.wardrobe-image {
  width: 100px; 
  height: 100px;
  object-fit: cover;
}

.upload-time {
  margin-top: 5px;
  font-size: 8px;
  color: #fff;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #27ae60;
  color: white;
}
